
.actor-container {
    direction: rtl;
    overflow: auto;
    margin-top: 80px;
    padding: 2rem;

    .actor-header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3rem;

        div {
            margin-right: 1.5rem;

            h1 {
                font-size: 1.5rem;
                margin-bottom: .8rem;
            }
    
            p {
                font-size: .9rem;
                margin: 0 !important;
                line-height: 1.8;
            }
        }
        
        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }
    }
}